/target
test_asm/listing_0037_single_register_mov
test_asm/listing_0038_many_register_mov
test_asm/listing_0039_more_movs
test_asm/listing_0040_challenge_movs
test_asm/listing_0041_add_sub_cmp_jnz
test_asm/listing_0043_immediate_movs
test_asm/listing_0044_register_movs
test_asm/listing_0046_add_sub_cmp
test_asm/listing_0047_challenge_flags
test_asm/listing_0048_ip_register
test_asm/listing_0049_conditional_jumps
test_asm/listing_0051_memory_mov
test_asm/listing_0052_memory_add_loop
test_asm/listing_0053_add_loop_challenge
